<div #wrapper class="wrapper">
	<div *ngFor='let expedition of expeditions' class="inner">
		<app-expedition-header [expedition]="expedition"></app-expedition-header>
		<div>
			<hr>
		</div>
		<div *ngIf='expeditionHighlights && expeditionHighlights.get(expedition.id)' class="row">
			<div *ngFor='let photo of expeditionHighlights.get(expedition.id)' class="photo">
				<div *ngIf='photo.isVisible'>
					<a routerLink="/photo/{{photo.id}}">
						<img
							[style.width.px]="photo.width"
							[style.height.px]="photo.height" 
							[src]="photo.getBestResource()?.url" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
