
.section {
	width: 100%;
	padding-bottom: 30px;
	position: relative;
}

.photo {
	display: block;
	margin: auto;
	cursor: zoom-in;
}

.button {
	position: absolute;
	cursor: pointer;	
}

.closeButton {
	top: 10px;
	right: 10px;
}

.nextButton {
	top: 50%;
	right: 10px;
	transform: translate(0, -22px);
}

.previousButton {
	top: 50%;
	left: 10px;
	transform: translate(0, -22px);
}


.leftColumn {
	flex: 60%;
}

.rightColumn {
	flex: 40%;
}

th {
	text-align: left;
	font-size: 14px;
	font-weight: 600;
}

td {
	font-size: 14px;
	font-weight: 400;
}

@media only screen and (max-width: 700px) {
	.row {
		display: block;
	}
	
	.leftColumn {
		flex: 100%;
	}
	
	.rightColumn {
		flex: 100%;
	}
}

