<div #wrapper class="wrapper" *ngIf="bestResourceUrl">
	<div class="section	">
		<img class="bg" [attr.src]="bestResourceUrl" (click)="zoomView($event)" [width]="photo.width" [height]="photo.height" />
	</div>
	<!--img [attr.src]="bestResource.url" width="1024"
		height="{{1024 / (bestResource.width / bestResource.height)}}" /-->
	<div class="row">
		<div class="leftColumn section">
			<div class="title">{{photo.title}}</div>
			<div class="copy">{{photo.description}}</div>
		</div>
		<div class="rightColumn">
			<table>
				<tr>
					<td class="exif">Date</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>{{photo.date | date:'MMMM d, yyyy'}}</td>
				</tr>
				<tr>
					<td class="exif">Camera</td>
					<td></td> 
					<td>{{photo.camera}}</td>
				</tr>
				<tr>
					<td class="exif">Lens</td>
					<td></td>
					<td>{{photo.lens}}</td>
				</tr>
				<tr *ngIf="photo.focalLength">
					<td class="exif">Focal Length</td>
					<td></td>
					<td>{{photo.focalLength}} mm</td>
				</tr>
				<tr *ngIf="photo.focusDistance">
					<td class="exif">Focus Dist</td>
					<td></td>
					<td>{{photo.focusDistance}} m (approx.)</td>
				</tr>
				<tr>
					<td class="exif">Aperture</td>
					<td></td>
					<td>&#402;/{{photo.aperture}}</td>
				</tr>
				<tr>
					<td class="exif">Shutter</td>
					<td></td>
					<td>{{photo.shutterSpeed}}s</td>
				</tr>
				<tr>
					<td class="exif">ISO</td>
					<td></td>
					<td>{{photo.iso}}</td>
				</tr>
				<tr *ngIf="photo.flash">
					<td class="exif">Flash</td>
					<td></td>
					<td>{{photo.getFlashString()}}</td>
				</tr>
				<tr *ngIf="photo.latitude">
					<td class="exif">Latitude</td>
					<td></td>
					<td>{{photo.latitude}}</td>
				</tr>
				<tr *ngIf="photo.longitude">
					<td class="exif">Longitude</td>
					<td></td>
					<td>{{photo.longitude}}</td>
				</tr>
				<tr *ngIf="photo.altitude">
					<td class="exif">Altitude</td>
					<td></td>
					<td>{{photo.altitude}}</td>
				</tr>
			</table>
			<div class="finePrint">{{photo.copyright}} {{photo.usageTerms}}</div>
		</div>
	</div>
</div>

<app-zoom-view [photo]="photo" [viewX]="lastClickX" [viewY]="lastClickY" (dismissedEvent)="zoomView()" *ngIf="isZoomVisible"></app-zoom-view>
