<div #wrapper class="wrapper" *ngIf="photo">
	<div class="section">
		<img class="photo" 
				[attr.src]="bestResourceUrl" 
				(click)="zoomView($event)" 
				[width]="photo.width" 
				[height]="photo.height"
			/>
		<div *ngIf="galleryUrl" class="button closeButton shadedDark"><a [routerLink]="galleryUrl">
				<svg width="22" height="22"><use xlink:href="#icon_close"></use></svg>
		</a></div>
		<div *ngIf="nextId" class="button nextButton shadedDark"><a 
				[routerLink]="'/photo/' + nextId" 
				[queryParams]="{contextId: galleryContextId}"  
				(click)="galleryContextService.goNextPhoto(galleryContextId)">
			<svg width="44" height="44"><use xlink:href="#icon_next"></use></svg>
		</a></div>
		<div *ngIf="previousId" class="button previousButton shadedDark"><a 
				[routerLink]="'/photo/' + previousId" 
				[queryParams]="{contextId: galleryContextId}"  
				(click)="galleryContextService.goPreviousPhoto(galleryContextId)">
			<svg width="44" height="44"><use xlink:href="#icon_previous"></use></svg>
		</a></div>
	</div>
	<div class="row">
		<div class="leftColumn section">
			<div class="title">{{photo.title}}</div>	
			<div class="copy">{{photo.description}}</div>
		</div>
		<div class="rightColumn">
			<table>
				<tr>
					<th>Date</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>{{photo.date | date:'MMMM d, yyyy'}}</td>
				</tr>
				<tr>
					<th>Camera</th>
					<td></td> 
					<td>{{photo.camera}}</td>
				</tr>
				<tr>
					<th>Lens</th>
					<td></td>
					<td>{{photo.lens}}</td>
				</tr>
				<tr *ngIf="photo.focalLength">
					<th>Focal Length</th>
					<td></td>
					<td>{{photo.focalLength}} mm</td>
				</tr>
				<tr *ngIf="photo.focusDistance">
					<th>Focus Dist</th>
					<td></td>
					<td>{{photo.focusDistance}} m (approx.)</td>
				</tr>
				<tr>
					<th>Aperture</th>
					<td></td>
					<td>&#402;/{{photo.aperture}}</td>
				</tr>
				<tr>
					<th>Shutter</th>
					<td></td>
					<td>{{photo.shutterSpeed}}s</td>
				</tr>
				<tr>
					<th>ISO</th>
					<td></td>
					<td>{{photo.iso}}</td>
				</tr>
				<tr *ngIf="photo.flash">
					<th>Flash</th>
					<td></td>
					<td>{{photo.getFlashString()}}</td>
				</tr>
				<tr *ngIf="photo.latitude">
					<th>Latitude</th>
					<td></td>
					<td>{{photo.latitude}}</td>
				</tr>
				<tr *ngIf="photo.longitude">
					<th>Longitude</th>
					<td></td>
					<td>{{photo.longitude}}</td>
				</tr>
				<tr *ngIf="photo.altitude">
					<th>Altitude</th>
					<td></td>
					<td>{{photo.altitude}}</td>
				</tr>
			</table>
			<div class="finePrint">{{photo.copyright}} {{photo.usageTerms}}</div>
		</div>
	</div>
</div>

<app-zoom-view [photo]="photo" [viewX]="lastClickX" [viewY]="lastClickY" (dismissedEvent)="zoomView()" *ngIf="isZoomVisible"></app-zoom-view>
