/* You can add global styles to this file, and also import other style files */
body {
	background-color: black;
	color: white;
	font-family: helvetica,arial,sans-serif;
}


.debugBorder {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}
