<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>NatePhoto JAX-RS Service</display-name>
    <description>NatePhoto JAX-RS Service</description>
    
    <!-- Everything is located by annotations or JNDI so web.xml is basically empty -->
    
</web-app>
